body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#challenge7 .loader {
    position: relative;
    width: 100px;
    height: 100px;
}

#challenge7 .loader div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #008dc9;
    transition: 0.5s;
}

#challenge7 .loader div:nth-child(1) {
    top: 0;
    right: 0;
    animation: square-animation1 4s infinite linear;
}

#challenge7 .loader div:nth-child(2) {
    left: 0;
    top: 0;
    animation: square-animation2 4s infinite linear;
    animation-delay: 0.5s;
}

#challenge7 .loader div:nth-child(3) {
    left: 0;
    bottom: 0;
    animation: square-animation3 4s infinite linear;
    animation-delay: 0.8s;
}

@keyframes square-animation1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 150%);
    }
    50% {
        transform: translate(-150%, 150%);
    }
    75% {
        transform: translate(-150%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes square-animation2 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(150%, 0);
    }
    50% {
        transform: translate(150%, 150%);
    }
    75% {
        transform: translate(0, 150%);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes square-animation3 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -150%);
    }
    50% {
        transform: translate(150%, -150%);
    }
    75% {
        transform: translate(150%, 0%);
    }
    100% {
        transform: translate(0, 0);
    }
}