body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#challenge11 .button {
    padding: 15px 20px;
    border: 2px solid orange;
    color: orange;
    text-align: center;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: 700;
}
#challenge11 .button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: orange;
    border-radius: 0 0 50% 50%;
    transition: 0.5s;
    z-index: -1;
    
}
#challenge11 .button:hover:after{
    height: 100%;
    border-radius: 0;
    animation: change-color linear infinite 10s 1s;
}
#challenge11 .button:hover{
    color: white;
    border: 2px solid #fff;
}

@keyframes change-color{
    0% {
        background-color: orange;

    }
    25% {
        background-color: #00afd7;
    }
    50% {
        background-color: #c4002e;
    }
    75% {
        background-color: #00cd74;
    }
    100% {
        background-color: orange;
    }
}