body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-letters-list{
    list-style: none;
    display: flex;
}
.text {
    color: #ddddddb6;
    font-size: 3.5rem;
    margin: 0 10px;
    font-family: Arial, 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
.name-letters-list li {
    animation: letterlighting linear 4.0s infinite;
}
@keyframes letterlighting {
    0%,100% { 
        color: #ddddddb6;
    }
    12.5% { 
        color: #ea005e;
    }
    12.8%,100% { 
        color: #ddddddb6;
    }
}
.name-letters-list li:nth-child(8) {
    animation-delay: 4.0s;
}
.name-letters-list li:nth-child(7) {
    animation-delay: 3.5s;
}
.name-letters-list li:nth-child(6) {
    animation-delay: 3.0s;
}
.name-letters-list li:nth-child(5) {
    animation-delay: 2.5s;
}
.name-letters-list li:nth-child(4) {
    animation-delay: 2.0s;
}
.name-letters-list li:nth-child(3) {
    animation-delay: 1.5s;
}
.name-letters-list li:nth-child(2) {
    animation-delay: 1.0s;
}
.name-letters-list li:nth-child(1) {
    animation-delay: 0.5s;
}

h1.text {
    position: relative;
    margin: 0;
    color: #FFFFFF;
    stroke: 2px #ddddddb6;
}
h1.text::after {
    content: "EUFRÁNIO";
    border-right: 1px solid #ea005e;
    color: #ea005e;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation: textAnimation linear 4s infinite;
    stroke: 2px #ea005e;
    overflow: hidden;
}

@keyframes textAnimation {
    0% { 
        width: 0;
    }
    50%,69% { 
        width: 100%;
    } 
    70%,100% { 
        width: 0;
    }
}
