body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#challenge10 .title {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: bolder;
    animation: colorSwitch 10s infinite;
    padding: 20px;
    border-radius: 10px;
    background-color: #ddd;
}

#challenge10 .title::after {
    content: attr(amo1);
    animation: wordSwitch 10s infinite linear;
}

@keyframes wordSwitch {
    0% {
        content: attr(amo1);
    }
    20% {
        content: attr(amo2);
    }
    40% {
        content: attr(amo3);
    }
    60% {
        content: attr(amo4);
    }
    80% {
        content: attr(amo5);
    }
    100% {
        content: attr(amo1);
    }
}

@keyframes colorSwitch {
    0% {
        color: #333;
    }
    20% {
        color: #009fe3;
    }
    40% {
        color: #e3bd00;
    }
    60% {
        color: #00e30f;
    }
    80% {
        color: #e3000f;
    }
    100% {
        color: #333;
    }
}