body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.126);
}

section {
    background-color: #ff0044;
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    color: #333;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.2);
    animation: zoomInOut 5s linear infinite;
}

.text-container {
    position: relative;
    width: 50%;
    overflow: hidden;
    background-color: #00a2ff;
    color: #fff;
}

.text-content {
    position: absolute;
    font-size: 5.5rem;
    top: 50%;
    font-family: Goldman, 'Courier New', Courier, monospace;
    overflow: hidden;
    white-space: nowrap;
    animation: animate 20s linear infinite;
    line-height: 220px;
}

@keyframes animate {
    0% {
        transform: translate(0%, -50%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes zoomInOut {
    0% {
        transform: translate(-40%, -50%);
    }
    50% {
        transform: translate(-60%, -50%);
    }
    100% {
        transform: translate(-40%, -50%);
    }
}