@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	background-color: #ffffff;
}

#challenge14 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#challenge14 img {
	border-radius: 50%;
	object-fit: cover;
	width: 250px;
	height: 250px;
	border: 4px rgb(0, 127, 223) solid;
	justify-self: center;
}

#challenge14 h1 {
	background: url(image5.jpg);
	-webkit-background-clip: text;
	text-align: center;
	font-size: 150px;
	color: transparent;
	font-weight: bold;
	word-spacing: 20px;
	animation: text-background linear infinite 50s;
	font-family: Lobster, 'Courier New', Courier, monospace;
	stroke: 10px #fff;
}


@keyframes text-background {

	from { background-position: 0 0 }

	to { background-position: 200% 200% }

} 